body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #e9f5e9;
    color: #2f4f4f;
    margin: 0;
    padding: 0px;
}

/* Sayfanın en altına ekstra boşluk bırak */
body::after {
    content: "";
    display: block;
    height: 80px;
}

.download-button {
    display: inline-block;
    padding: 14px 28px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.button-container {
    text-align: center;
    margin-top: 20px;
}
.game-title{
    text-align: center;
    margin-top: 20px;
}


.download-button:hover {
    background-color: #276749;
    transform: translateY(-2px);
}

.aciklama {
    background-color: #ffffff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.aciklama h3 {
    color: #2e8b57;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.aciklama ol {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.6;
}

.aciklama li {
    margin-bottom: 12px;
}



/* ÜST MENÜ – HEADER */
header {
    background-color: #317b71;
    color: white;
    padding: 30px 0 20px;
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

/* NAV MENÜ */
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

nav ul li a {
    color: #c3f3e3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}